body {
	/** Change font **/
	--cc-font-family: Roboto;

	/** Change button primary color **/
	--cc-btn-primary-bg: #29A632;
	--cc-btn-primary-border-color: #29A632;
	--cc-btn-primary-hover-bg: #29A632;
	--cc-btn-primary-hover-border-color: #29A632;

	--cc-btn-secondary-bg: #eaeff2;
    --cc-btn-secondary-color: var(--cc-primary-color);
    --cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);

	--cc-btn-secondary-hover-bg: #D91136;
    --cc-btn-secondary-hover-color: #fff;
    --cc-btn-secondary-hover-border-color: #D91136;

	/** Also make toggles the same color as the button **/
	--cc-toggle-on-bg: var(--cc-btn-primary-bg);

	/** Make the buttons a bit rounder **/
	--cc-btn-border-radius: 25px;
}

.cm__btn-group:nth-child(2), .pm__btn-group:nth-child(2) {
	--cc-btn-secondary-hover-bg: #0099DD;
    --cc-btn-secondary-hover-color: #fff;
    --cc-btn-secondary-hover-border-color: #0099DD;
}

#show-preferencesModal {
	position: fixed;
	bottom: 15px;
	left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	padding: 5px;
	cursor: pointer;
	border-radius: 100%;
	background-color: var(--cc-btn-primary-bg);
	border: 2px solid var(--cc-btn-primary-border-color);
	transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

#show-preferencesModal:hover {
    background: var(--cc-btn-primary-hover-bg);
    border-color: var(--cc-btn-primary-hover-border-color);
    color: var(--cc-btn-primary-hover-color);
}

#show-preferencesModal.show-preferencesModal-hidden {
	display: none;
}

#show-preferencesModal svg {
	max-width: 100%;
}
